.container {
	width: 100vw;
	height: 100vh;
	background-color: #F2F4F7;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topNav {
	width: 100vw;
	height: 6vh;
	background-color: white;
	box-shadow: 0px 2px 4px #ccc;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.profile {
	/*background-color: #ccc;*/
	height: 4.5vh;
	width: 4.5vh;
	border-radius: 50%;
	margin-right: 20px;
	background-repeat: none;
	background-size: cover;
}

.profile:hover {
	transform: scale(1.04);
}

.profile:active {
	transform: scale(0.96);
}


.profileOptions {
	position: fixed;
	top: 8vh;
	right: 20px;
	background-color: white;
	min-width: 6vw;
	padding: 6px 10px;
	border-radius: 6px;
	box-shadow: 0px 1px 2px #ccc;
	text-align: center;
}

.profileOptions:active {
	transform: scale(0.96);
}

.option {
	height: 5vh;
	width: 10vw;
	margin: 2px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.userProfile {
	width: 2vw;
	height: 2vw;
	margin: 0 20px 0 0;
}

.protectedArea {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authenticatedData {
	display: flex;
	flex-direction: row;
	padding: 0 20px;
	align-items: center;
	width: 100vw;
	/*background-color: red;*/
	min-height: 90vh;
}

.userProfileList, .friendList {
	width: 30vw;
	display: flex;
	flex-direction: column;
	/*background-color: white;*/
	min-height: 94vh ;
}

.activeUser {
	display: flex;
	flex-direction: row;
	padding: 30px 20px;
	justify-content: flex-start;
	align-items: center;
	font-size: 21px;
	font-weight: 700;
}

.newsFeed {
	/*background-color: red;*/
	width: 40vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 0;
	overflow-y: scroll;
	/*background-color: red;*/
}

.postForm {
	display: flex;
	flex-direction: row;
	width: 90%;
	background-color: white;
	border-radius: 10px;
	flex-direction: column;
}

.postText {
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.postMedia {
	display: flex;
	flex-direction: row;
	align-items: space-between;
	justify-content: space-around;
	height: 4vh;
	padding: 10px;
}

.uploadMedia {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 10vw;
}

.uploadMedia:hover {
	background-color: #F2F4F7;
	border-radius: 10px;
}

.userPostText {
	height: 2.4vw;
	width: 100%;
	border-radius: 20px;
	border: 0;
	color: #66686C;
	background-color: #F2F4F7;
	padding: 0 20px;

}

.userPostProfile {
	width: 2.4vw;
	height: 2.4vw;
	border-radius: 50%;
	margin: 0 10px 0 0;
}

.authContainer {
	background-color: #F2F4F7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	width: 60vw;
}

.usersList {
	width: 30vw;
	height: 40vh;
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

.authForm {
	width: 24vw;
	min-height: 32vh;
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 4px #ccc;
}

.loginContainer, .signupContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loginForm, .signupForm {
	display: flex;
	flex-direction: column;
	width: 20vw;
	border-bottom: 1px solid #ccc;
	padding: 20px 0 0 0;
}

.signupForm {
	border-bottom: none;
	padding: 20px 0 0 0;
	margin: 0;
}

.loginInput, .signupInput {
	height: 6vh;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 10px 0;
	background-color: white;
	color: black;
	padding: 0 20px;
	border-radius: 10px;
}

.loginInput:active, .signupInput:active {
	border: 1px solid #226BF6;
	background-color: #F2F4F7;
}

.loginButton, .createAccount {
	font-weight: 700;
	font-size: 21px;
	color: white;
	height: 6vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.nameInput {
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
}

.firstName, .lastName {
	height: 6vh;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 10px 0;
	background-color: white;
	color: black;
	padding: 0 20px;
	border-radius: 10px;
	width: 35%;
}


.forgotPassword, .haveAccount {
	color: #226BF6;
	font-size: 21px;
	margin: 10px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 6vh;
}

.loginButton {
	background-color:  #226BF6; 
}

.createAccount {
	width: 16vw;
	background-color: #63B343;
	margin: 40px 0;
}

.createAccount:active, .loginButton:active {
	transform: scale(0.96);
}